:root {
  --headlines-color: #212121;
  --second-text-color: #757575;
  --bg-color-section: #f5f4fa;
  --bg-color-main: #ffffff;
  --bg-color-second: #e5e5e5;
  --focus-color: #2196f3;
  --footer-hero-color: #2f303a;

  --main-gap: 94px;
  --portfolio-gap: 30px;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;

  background-color: var(--bg-color-main);
  color: var(--second-text-color);
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}
.section {
  padding-top: var(--main-gap);
  padding-bottom: var(--main-gap);
}
/*------------- current page ----------------------------------------------*/
.site-nav .link.current {
  color: var(--focus-color);
}

.site-nav .link.current::after {
  content: '';
  position: absolute;
  bottom: -1px;

  width: 100%;
  height: 4px;
  display: block;
  background-color: #2196f3;
  border-radius: 2px;
}
/*------------- current button -------------------------------------------*/
.filter-button.current-btn {
  background-color: var(--focus-color);
  color: var(--bg-color-main);
}
/*--------------------------------HEADER------------------------------------ */
.page-header {
  border-bottom: 1px solid #ececec;
}
.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.conteiner {
  width: 1200px;

  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.logo {
  display: block;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo,
.logo-blue {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: #000000;
}
.logo-blue {
  color: var(--focus-color);
}

/*---------------- NAVIGATION ----------------------------------------*/
.nav-block {
  display: flex;
}
.site-nav {
  display: flex;
}

.site-nav .link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--headlines-color);

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .item {
  position: relative;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav {
  display: flex;
}

.auth-nav .item + .item {
  margin-left: 50px;
}

.auth-nav .link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--second-text-color);

  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-nav {
  display: flex;
  margin-right: 10px;

  fill: currentColor;
}

.auth-nav .link:hover .icon-nav,
.auth-nav .link:focus .icon-nav,
.auth-nav .link:hover,
.auth-nav .link:focus,
.site-nav .link:hover,
.site-nav .link:focus,
/* footer hover */
.contacts .link:hover,
.contacts .link:focus,
.contacts .location.link:hover,
.contacts .location.link:focus {
  color: var(--focus-color);
  fill: currentColor;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*-------------------------------- HERO------------------------------------ */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.overlay {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-headlines {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--bg-color-main);

  max-width: 696px;

  margin-top: 0;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}
/* --------Button hero ---------------------*/
.button {
  display: block;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--focus-color);
  color: var(--bg-color-main);
  border: transparent;
  border-radius: 4px;

  min-width: 200px;
  min-height: 50px;

  padding: 10px 32px;
  margin-right: auto;
  margin-left: auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: #188ce8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ---------------Hidden headlines----------------------------- */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* --------------------Особенности--------------------------- */
.section-headlines,
.examples-headlines {
  color: var(--headlines-color);

  margin-top: 0;
  margin-bottom: 0;
}

.section-specifics {
  padding-top: var(--main-gap);
  padding-bottom: 0;
}

.features-list {
  display: flex;
}

.features-item-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color-section);
  border-radius: 4px;
  margin-bottom: 30px;

  padding-top: 25px;
  padding-bottom: 25px;
}

.features-item:not(:last-child) {
  max-width: 270px;

  margin-right: 30px;
}

.specifics {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.section-desc {
  margin: 0;
}

/* --------------------Чем мы занимаемся -------------------------*/
.title-work {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 50px;
}

.work-examples {
  display: flex;
  margin: 0 -15px;
}

.work-examples-item {
  position: relative;
  margin: 0 15px;
}

.work-examples-item:not(:last-child) {
  /* margin-right: 30px; */
}

.work-examples-pic {
  display: block;
  max-width: 100%;
}

.work-examples-title {
  position: absolute;
  bottom: 0;
  display: flex;
  margin: 0;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.prev,
.next {
 position: absolute;
  top:50%;
  transform: translateY(-50%);
  left:20px;
  cursor: pointer;
  width:100px;
  height: 50px; 
  /* text-indent: -9999px;
  overflow: hidden; */
}
.prev {
  left:auto;
  right:20px;
}
/* ----------------Team section -------------------------------*/



.team {
  background-color: var(--bg-color-section);
  position: relative;
}
.slick-dots {
 list-style: none;
 margin: 20px 0 0;
 padding: 0;
 display: flex;
 justify-content: center;
 gap:20px;
}
.slick-dots li {

}
.slick-dots li button {
    width:20px;
    height: 20px;
    border-radius: 50%;
    text-indent: -9999px;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #2196f3;
    background: none;
}
.slick-dots li.slick-active button {
  background: #2196f3;
}

.title-clients,
.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 50px;
}

.team-list {
  /* display: flex; */
}

.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  width: 270px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-item-pic {
  display: block;
  max-width: 100%;
}

.team-desc {
  padding-top: 30px;
  padding-bottom: 30px;

  align-items: flex-end;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;

  margin-bottom: 10px;
}

.team-spec {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;

  margin: 0;
  margin-bottom: 16px;
}

.team-social {
  display: flex;
  justify-content: center;
}

.team-social-item + .team-social-item {
  margin-left: 10px;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  fill: #afb1b8;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--focus-color);
  fill: var(--bg-color-main);
}

/* -----------------------CLIENTS----------------------------------- */

.clients {
  padding-top: var(--main-gap);
  padding-bottom: var(--main-gap);
}

.clients-list {
  display: flex;
}

.clients-item + .clients-item {
  margin-left: 30px;
}

.clients-link {
  display: block;
  padding: 16px 32px;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;

  border-radius: 4px;
  fill: #afb1b8;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--focus-color);
  fill: var(--focus-color);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*------------------------ FOOTER ----------------------------------*/
/* --LOGO FOOTER-- */
.footer .logo {
  color: var(--bg-color-main);

  padding-top: 0;
  padding-bottom: 20px;
  margin-right: 0;
}
.footer {
  background-color: var(--footer-hero-color);

  padding-top: 60px;
  padding-bottom: 60px;
}

.address-item:not(:last-child) {
  padding-bottom: 9px;
}

.contacts .location.link {
  color: var(--bg-color-main);
}
.contacts .link {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .conteiner {
  display: flex;
  align-items: baseline;
}

.connect {
  margin-left: 70px;
}
.connect-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  margin-top: 0;
  margin-bottom: 20px;
}

.connect-list {
  display: flex;
}

.connect-item + .connect-item {
  margin-left: 20px;
}

.connect-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: #ffffff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.connect-link:hover,
.connect-link:focus {
  background-color: var(--focus-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* subscribe field */
.subscribe-field {
  position: relative;
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column; */
  margin-left: 93px;
}

.subscribe-title {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.subscribe-email {
  display: block;
  width: 358px;
  height: 50px;
  padding: 15px 16px;

  color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.subscribe-email:focus {
  outline: none;
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.subscribe-email::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  top: 36px;
  left: 368px;

  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;

  background-color: #2196f3;
  border-radius: 4px;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-icon {
  margin-left: 10px;
}

/*---------------- CSS PORTFOLIO -------------------------------------*/
.filter-button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-button-item:not(:last-of-type) {
  margin-right: 8px;
}

.filter-button {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  cursor: pointer;

  background-color: var(--bg-color-section);
  color: var(--headlines-color);
  border-radius: 4px;
  border: transparent;
  padding: 6px 22px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--focus-color);
  color: var(--bg-color-main);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Thumb title */
.examples-thumb {
  position: relative;
  overflow: hidden;
}

.examples-thumb-title {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 63px 24px;

  /* transform: translateY(100%); */
  background-color: rgba(33, 150, 243, 0.9);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;

  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples-thumb-title p{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  margin: 0;
}
.examples-thumb-title .text-scroll {
  height:100%;
  overflow: auto;
}

.examples-work-card:hover .examples-thumb-title,
.examples-work-card:focus .examples-thumb-title {
  pointer-events: all;
  transform: translateY(0);
  background-color: rgba(33, 150, 243, 0.9);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-work-list {
  display: flex;
  flex-wrap: wrap;

  margin-top: calc(-1 * var(--portfolio-gap));
  margin-left: calc(-1 * var(--portfolio-gap));
}

.examples-work-item {
  flex-basis: calc(100% / 3 - var(--portfolio-gap));

  margin-top: var(--portfolio-gap);
  margin-left: var(--portfolio-gap);
}

.examples-work-card {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-work-card:hover,
.examples-work-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-work-title {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;

  padding: 20px 24px;
}

.examples-work-pic {
  display: block;
  max-width: 100%;
}

.examples-headlines {
  color: var(--headlines-color);

  margin-top: 0;
  margin-bottom: 0;
}

.examples-work-title .desc {
  font-size: 16px;
  line-height: 1.88;

  color: var(--second-text-color);

  margin-top: 0;
  margin-bottom: 0;
}

/* -----------------Modal window------------------------------- */

.backdrop {
  position: fixed;
  z-index: 1;

  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  /* height: 581px; */

  padding: 40px;

  left: 50%;
  top: 50%;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal-btn {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;

  cursor: pointer;

  color: #000000;
  fill: currentColor;

  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  color: var(--focus-color);
}

.callback-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;

  margin: 0 0 12px 0;
}

.form-field {
  position: relative;
  margin-bottom: 10px;
}

.callback-label {
  display: inline-block;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: #757575;
}

.input-name,
.input-tel,
.input-email {
  width: 100%;
  height: 40px;
  padding: 11px 12px 11px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-name:focus,
.input-tel:focus,
.input-email:focus {
  outline: none;
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.input-name:focus + .person-icon,
.input-tel:focus + .phone-icon,
.input-email:focus + .email-icon {
  fill: var(--focus-color);
}

.person-icon,
.phone-icon,
.email-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback-comment {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback-comment:focus {
  outline: none;
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.callback-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.license-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.license-check {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.check-box {
  margin-right: 8px;
  width: 16px;
  height: 15px;
  background-image: url(../images/icon/check-box-off.svg);
}

.license-check:checked + .check-box {
  background-image: url(../images/icon/check-box-on.svg);
}

.license-check:focus + .check-box {
  box-shadow: 0 0 8px rgb(0, 0, 0, 0.5);
}

.license-link {
  color: var(--focus-color);
}

.license-link:hover,
.license-link:focus {
  text-decoration: none;
}

.submit-btn {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover,
.submit-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
